                  <li><%= link_to "about learnary", "https://github.com/learnery/learnery/" %></li>
                  <li><%= link_to "real web dev meetup", "http://www.meetup.com/salzburgwebdev/" %></li>
